server:
  port: 1000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/base-information
    username: postgres
    password: amir12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
